jupyter-book==0.12.3
linkify-it-py==1.0.3
docutils==0.16
matplotlib==3.5.1
numpy==1.22.3
plotly==5.7.0
ghp-import==2.0.2
sphinx==4.5.0
#sphinx-design==0.1.0
sphinx-book-theme==0.1.4
sphinx-click==4.0.3
sphinx-external-toc==0.2.4
sphinx-inline-tabs==2022.1.2b11
sphinx-panels==0.6.0
sphinx-thebe==0.1.1
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-mermaid
sympy==1.10.1
myst-nb==0.13.2
pyyaml==6.0
