docutils<0.19
ghp-import
ghp-import
jupytext
linkify-it-py
markdown-it-py
mdit-py-plugins
myst-parser
sphinx<6,>=4
sphinx-comments
sphinx-copybutton
sphinx-design
sphinx-exec-code
sphinx-external-toc
sphinx-multitoc-numbering
sphinx-rtd-theme
sphinx-togglebutton
sphinx_fontawesome
sphinxcontrib-applehelp
sphinxcontrib-autoprogram
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-mermaid
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxext-rediraffe
sympy
