click~=8.1.3
intel-xai-tools==0.1.0
docutils~=0.17.1
ghp-import~=2.1.0
jupytext~=1.14.1
linkify-it-py~=1.0.3
markdown-it-py~=1.1.0
mdit-py-plugins
myst-nb~=0.17.1
myst-parser~=0.18.1
plotly~=5.8.2
pyyaml~=6.0
Sphinx==5.2.3
sphinx-autodocgen~=1.3
sphinx-click~=4.3.0
sphinx-comments~=0.0.3
sphinx-copybutton~=0.5.0
sphinx-design==0.3.0
sphinx-exec-code~=0.8
sphinx-external-toc @ git+https://github.com/kkasravi/sphinx-external-toc@v0.3.1
sphinx-multitoc-numbering~=0.1.3
sphinx-rtd-theme~=1.0.0
sphinx-togglebutton~=0.3.1
sphinx_fontawesome~=0.0.6
sphinxcontrib-applehelp~=1.0.2
sphinxcontrib-autoprogram~=0.1.7
sphinxcontrib-bibtex~=2.4.2
sphinxcontrib-devhelp~=1.0.2
sphinxcontrib-htmlhelp~=2.0.0
sphinxcontrib-jsmath~=1.0.1
sphinxcontrib-mermaid~=0.7.1
sphinxcontrib-napoleon~=0.7
sphinxcontrib-qthelp~=1.0.3
sphinxcontrib-serializinghtml~=1.1.5
sphinxext-rediraffe~=0.2.7
sympy~=1.10.1
