click
docutils
ghp-import
jupyter-book==0.13.0
jupyter-cache
jupyter-sphinx==0.3.2
linkify-it-py
markdown-it-py
matplotlib
mdit-py-plugins
myst-nb
myst-parser
numpy==1.21.3
plotly
pyyaml
Sphinx
sphinx-autodocgen
sphinx-book-theme
sphinx-click
sphinx-comments
sphinx-copybutton
sphinx-design
sphinx-external-toc
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx-panels
sphinx-rtd-theme
sphinx-thebe
sphinx-togglebutton
sphinx_fontawesome
sphinxcontrib-applehelp
sphinxcontrib-autoprogram
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-mermaid
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxext-rediraffe
sympy
